@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400&display=swap");
* {
  font-family: "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

/* variables */
:root {
  --main-color: white;
  --second-color: #edeae3;
  --text-color: #1b1b1b;
  --bg-color: white;
  /* box shadow */
  --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}
/* HEADER */
section {
  padding: 50px 100px;
}
img {
  width: 100%;
}
body {
  color: var(--text-color);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 100px;
  transition: 0.5s linear;
  background: var(--text-color);
}
.logo img {
  width: 60px;
}
/* NAVBAR */
.navbar {
  display: flex;
}
.navbar a {
  padding: 8px 17px;
  color: var(--bg-color);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar a:hover {
  background: var(--main-color);
  border-radius: 0.2rem;
  transition: 0.2s all linear;
  color: black;
}

.header-icon {
  font-size: 22px;
  cursor: pointer;
  z-index: 10000;
  display: flex;
  column-gap: 0.8rem;
}
.header-icon .bx {
  color: var(--bg-color);
}
.header-icon .bx:hover {
  color: var(--main-color);
}
#menu-icon {
  color: var(--bg-color);
  font-size: 24px;
  z-index: 100001;
  cursor: pointer;
  display: none;
}
/* SEARCHBOX */
.search-box {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  background: var(--bg-color);
  width: 100%;
}
.search-box .active {
  top: 110%;
  box-shadow: var(--box-shadow);
  transition: 0.2 all linear;
}
.search-box input {
  padding: 20px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
  color: var(--main-color);
}
.search-box input::placeholder {
  font-size: 1rem;
  font-weight: 500;
}

/* konten */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background: white;
  padding-bottom: 70px;
  padding-top: 100px;
}

.container form {
  padding: 20px;
  width: 700px;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  flex: 1 1 250px;
}

.container form .row .col .tittle {
  font-size: 20px;
  color: black;
  padding-bottom: #333;
  text-transform: uppercase;
}

.container form .row .col .inputbox {
  margin: 15px 0;
}

.container form .row .col .inputbox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputbox input {
  width: 100%;
  border: 1px solid black;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputbox input:focus {
  border: 1px solid black;
}

.container form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputbox {
  margin-top: 5px;
}

.container form .row .col .inputbox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px black);
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: black;
  color: white;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background-color: #333;
}

/* FOOTER BOX SECTION */

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
  background: black;
}
.footer-box h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--main-color);
}
.footer-box p {
  font-size: 0.938rem;
  margin-bottom: 10px;
  color: white;
}
.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.social a .bx {
  font-size: 24px;
  color: var(--text-color);
  padding: 10px;
  background-color: var(--second-color);
  border-radius: 0.2rem;
}
.social a .bx:hover {
  background: var(--main-color);
  color: var(--main-color);
}

.footer-box h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-box li a {
  color: var(--main-color);
}
.footer-box li a {
  color: var(--main-color);
}

.contact {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.contact span {
  display: flex;
  align-items: center;
  color: var(--main-color);
}
.contact i {
  font-size: 20px;
  margin-right: 1rem;
  color: var(--main-color);
}
.copyright {
  padding: 20px;
  text-align: center;
  background: var(--second-color);
}
